<div>
  <h3><%= link_to "course", courses_path -%> >> <%= link_to @course_session.course.name -%> >> <%= link_to @course_session.title -%> >> <%= Assignment -%><h3>
 <br>
 <br>
  <div id="dpt_header" class="clearfix">
    <h4>Assignments</h4>

    <%= link_to "+ Add discussions ", new_discussion_path(:assignment_id = @assignment), :class => "alr button" -%>

  </div>

  <ul id="departments">
    <% @discussions.each do |c| -%>
    <li class="clearfix">
	     <%= link_to c.title, assignments_path(c.id) -%></li>
	    <div class="edit-holder alr">
	      <ul class="edit-box">
	        <li>
             <%= link_to "Edit", "", :class => "edit-but" -%>
	          <ul class="edit-sub">
		          <li> <%= link_to "Edit", edit_discussion_path(c.id) :method => :get -%></li>
		          <li> <%= link_to "Delete", discussion_path(c.id ), :method => :delete -%></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
    </li>
    <% end %>
  </ul>
</div>
