<div>
  <h3><%= link_to "course", courses_path -%> >> <%= link_to @course_session.course.name -%> >> <%= link_to @course_session.title -%> >> <%= link_to "assignment" -%><h3>
  <div id="dpt_header" class="clearfix">
    <h4>assignments</h4>

    <%= link_to "+ Add ", new_assignment_path(:course_session_id => @course_session), :class => "alr button" -%>

  </div>
  <ul id="departments">
    <% @assignments.each do |c| -%>
    <li class="clearfix">
	    <%= c.name -%>
	    <div class="edit-holder alr">
	      <ul class="edit-box">
	        <li>
	          <%= link_to "Edit", "", :class => "edit-but" -%>
	          <ul class="edit-sub">
			  <li> <%= link_to "unpublish", edit_assignment_path(c,:course_id => @course) -%></li>
		          <li> <%= link_to "Edit", edit_assignment_path(c,:course_id => @course) -%></li>
		          <li> <%= link_to "Delete", assignment_path(c, :course_id => @course ), :method => :delete -%></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
    </li>
    <% end %>
  </ul>
</div>
