<h2>Create Assignments</h2>
<%= form_for :assignments, :url => assignments_path(:course_session_id => @course_session), :method => :post do |f| %>
<%= f.label :title -%>
<%= f.text_field :title -%>
<%=f.hidden_field:course_session_id,:value => 4 %>
<label>Date Of Issue of Assignment</label>
<%= f.date_select :due_date, :start_year => 1900, :end_year => Time.now.year, :order => [:day,:month, :year] -%>
<br/>
<%=  f.label :full_marks -%>
<%= f.text_field :full_marks-%>

<br>
<%= f.submit %>
<% end -%>
