<h2>Create Assignments</h2>
<%= form_for :Assignments, :url => assignments_path(:course_id => @course), :method => :post do |f| %>
  <%= f.label :title -%>
  <%= f.text_field :title -%>

<label>Date Of Issue of Assignment</label>
<%= date_select("post", "date_of_assignment", :prompt => { :year => 'Select year', :month => 'Select month', :day => 'Select day'  }) -%>
<br/>
  <%=  f.label :full_marks -%>
  <%= f.text_field :full_marks-%>

<label>Date Of submission</label>
<%= date_select("post", "date_of_submission", :prompt => { :year => 'Select year', :month => 'Select month', :day => 'Select day'  }) -%>
<br>
<%= f.submit %>
<% end %>
