<h2>Create Assignments</h2>
<%= form_for :assignments, :url => assignments_path(:course_session_id => @course_session), :method => :post do |f| %>
<%= f.label :title -%>
<%= f.text_field :title -%>
<br/>
  <%=  f.label :full_marks -%>
  <%= f.number_field :full_marks-%>

<label>due_date</label>
<%= f.date_select :due_date, :start_year => 1900, :end_year => Time.now.year, :order => [:day, :month, :year] -%>
<br>
<%= f.submit %>
<% end -%>
