<ul>


  <div id="content_left" class="all">
    <div class="content-header clearfix">
      <h4 class="all">Assignments</h4>
      <%= link_to "+ Add Department", new_assignments_path, :class => "alr button" -%>

    </div>
    <ul id="departments">
      <% @assignments.each do |d| %>
      <li id="pg" class="clearfix">
	<%= link_to d.name, assignment_path(d) -%>
	<div class="edit-holder alr">
	  <ul  class = "edit-box">
	    <li>
	      <%= link_to "Edit", edit_assignment_path(d), :class =>"edit-but" %>

            <ul class="edit-sub">
              <li>

                <%= link_to "Edit", edit_assignment_path(d) -%>
              </li>
              <li>
                <%= link_to "Delete", assignment_path(d), :method => :delete -%>
              </li>
	    </ul>
	    </li>
	  </ul>
	</div>
<% end %>
</div>
    </ul>
</ul>



