
<div id="content_left" class="all">
    <div class="content-header clearfix">
      <h3><%= link_to "Department", departments_path -%> >> <%= link_to @department.name, department_path(@department) -%> >> <%=  @program.name -%><h3>
      <h2 class="all">Courses</h2>
      <%= link_to "+ Add Course", new_course_path(:program_id => @program), :class => "alr button" -%>
    </div>


  <ul id="departments">
    <% @courses.each do |c| -%>
    <li class="clearfix">
	    <%= link_to c.name, course_path(c, :program_id => @program) -%>
	    <div class="edit-holder alr">
	      <ul class="edit-box">
	        <li>
	          <%= link_to "Edit", "", :class => "edit-but" -%>
	          <ul class="edit-sub">
		          <li> <%= link_to "Edit", edit_course_path(c,  :program_id => @program) -%></li>
		          <li> <%= link_to "Delete", course_path(c,  :program_id => @program), :method => :delete -%></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
    </li>
    <% end %>
  </ul>
</div>
