<div id="titlebar">
  <div id="title_content">
    <div id="welcome_details">
      <img src="images/img_placeholder.png" width="55" height="55" alt="" >
      <div id="user_nav">
	      <% if user_signed_in? %>
   	    Signed in as <%= current_user.email %>. Not you?
	      <%= link_to "Sign out", destroy_user_session_path %>
	      <% else %>
      	<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
	      <% end %>
      </div>
    </div>
    <h3>BLACKBOARD</h3>
  </div>
</div>
<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>
<div id="navigation">
  <div id="main_tabs" class="clearfix">
    <% if current_user && current_user.admin? %>
    <ul>
      <li><%= link_to "Departments", departments_path -%></li>
      <li><%= link_to "Faculty", new_member_path -%></li>
      <li><%= link_to "Students", new_member_path(:user => "student") -%></li>
    </ul>
    <% end %>
  </div>
</div>
