<h4 class="all">Edit Department</h4>
<br>
<br>
<%= form_for @department do |f| %>
<%= f.label :name -%>
<%= f.text_field :name -%>
<div class="edit-holder alr">
  <ul  class = "edit-box">
    <li>
      <%= f.submit "Update" -%>
    </li>
    <li>
      <br>
      <%= link_to "Cancel", department_path  -%>
    </li>
  </ul>
</div>
<% end %>

