

<h2>Create  sessions</h2>
<%= form_for :course_session, :url => assignment_path(:course_id => @course), :method => :post do |f| %>
  <br>
  <br>
  <%= f.label :title -%>
  <%= f.text_field :title -%><br><br><br>
  <%= f.label :from_date -%>
  <%= f.text_field :from_date -%>
  <%= f.label :to_date -%>
  <%= f.text_field :to_date -%><br>
  <br><br>
 <%= f.submit %>
<% end %>

