 <h3><%= link_to "Department", departments_path -%> >> <%= link_to @department.name -%> >> <%= link_to @program.name -%> <%= link_to @course.name -%> >> <%= link_to @course_session.title-%><h3>

      <br>
      <br>
       <div class="content-header clearfix">
      <h4 class="all">Assignments</h4>
    </div>

       <%= link_to "+ Add assignment", new_assignment_path(:course_session_id => @course_session), :class => "alr button" -%>
      <ul id="departments">
        <li class="clearfix">
           <% @assignments.each do |c| -%>
	        <%= link_to c.title, assignment_path(c) -%>
	        <div class="edit-holder alr">
	          <ul class="edit-box">
	            <li>
	              <%= link_to "Edit", "", :class => "edit-but" -%>
	              <ul class="edit-sub">
		              <li> <%= link_to "Edit", edit_course_session_path(c,  :course_id => @course) -%></li>
		              <li> <%= link_to "Delete", course_session_path(c, :course_id => @course ), :method => :delete -%></li>
	              </ul>
	            </li>
	          </ul>
	        </div>
        </li>
        <% end %>
      </ul>
</div>

