<h3><%= link_to "Department", departments_path -%> >> <%= link_to @department.name, department_path(@department) -%> >> <%= link_to @program.name, program_path(@program.id, :department_id => @department.id) -%> >> <%= link_to @course.name, course_path(@course.id, :program_id => @program.id) -%> >> <%= @course_session.title-%><h3>

      <br
      <br>
       <div class="content-header clearfix">
      <h4 class="all">Assignments</h4>
    </div>

       <%= link_to "+ Add assignment", new_assignment_path(:course_session_id => @course_session), :class => "alr button" -%>
   <br>
   <br>
   <ul id="departments">

           <% @assignments.each do |c| -%>
	         <li class="clearfix">
  <%= link_to c.title, assignment_path(c) -%>
	        <div class="edit-holder alr">
	          <ul class="edit-box">
	            <li>
	              <%= link_to "Edit", "", :class => "edit-but" -%>
	              <ul class="edit-sub">
		              <li> <%= link_to "Edit", edit_assignment_path(c,:course_session_id => @course_session) -%></li>
		              <li> <%= link_to "Delete", assignment_path(c,:course_session_id => @course_session), :method => :delete -%>     </li>
	              </ul>
	            </li>
	          </ul>
	        </div>
        </li>
        <% end %>
      </ul>
</div>

