<%= will_paginate @courseSessions %>
<%= page_entries_info @courseSessions %>

<div id="content_left" >
    <div class="content-header clearfix">
       <h3><%= link_to "Department", departments_path -%> >> <%= link_to @department.name, department_path(@department) -%> >> <%= link_to @program.name, program_path(@program.id, :department_id => @department.id) -%> >> <%=  @course.name -%><h3>
<br>
<br>
  <h2 class="all">Sessions</h2>
       <%= link_to "+ Add Sessions", new_course_session_path(:course_id => @course), :class => "alr button" -%>

    </div>

</div>



  <ul id="departments">
    <% @course_sessions.each do |c| -%>
    <li class="clearfix">

	    <%= link_to c.title,  course_session_path(c, :course_id => @course ) -%>



	    <div class="edit-holder alr">
	      <ul class="edit-box">
	        <li>
	          <%= link_to "Edit", "", :class => "edit-but" -%>
	          <ul class="edit-sub">
		          <li> <%= link_to "Edit", edit_course_session_path(c,:course_id => @course) -%></li>
		          <li> <%= link_to "Delete", course_session_path(c,:course_id => @course), :method => :delete -%></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
    </li>
    <% end %>
  </ul>
</div>
