<div id="content_left" class="all">
    <div class="content-header clearfix">
      
      <h2 class="all">Our Student</h2>
      <%= link_to "+ Add Student", new_member_path(:user => "student"), :class => "alr button" -%>
    </div>
   </div>


  <ul id="departments">
  <li class="clearfix">
      <table>
	<tr>
	<th>
	</th>

	<th>
	  ID
	</th>
	<th>
	  Name
	</th>
	<th>
	  Email
	</th>
	<th>
	  Admission-date
	</th>
	<th>
	  Department
	</th>
	<th>
	  Program
	</th>

	<th>
	</th>
	</tr>

		<tr><% @users.each do |u| %>
		 <li class="clearfix">
	  <td></td>
	  <td><%= u.id -%></td> 
	  <td><%= u.first_name + " " + u.last_name if u.first_name && u.last_name -%></td>
	  <td><%= u.email -%></td>
	
	  <td><%= u.admission -%></td>
	   <td><%= u.member.department.name if u.member -%></td>
	   <td><%= u.member.department.program.name if u.member -%></td>
	   <td></td>
	   </li>
	   </tr>
	<br />
	  <% end %>
	
</table> 
    
</li>	  
  </ul>
</div>
