<div id="content_left" class="all">
    <div class="content-header clearfix">
      <h2 class="all">Our Student</h2>
      <%= link_to "+ Add Student", new_member_path(:user => "student"), :class => "alr button" -%>
    </div>
</div>

<ul id="departments">
  <li class="clearfix">
    <table>
      <tr>
	<th>
	</th>

	<th>
	  ID
	</th>
	<th>
	  Name
	</th>
	<th>
	  Email
	</th>
		<th>
	  Admission_Date
	</th>
	<th>
	  Department
	</th>
	<th>
	  Programme
	</th>

	<th>
	  </th>
      </tr>

      <% @users.each do |u| %>
      <tr>
	<td></td>
	<td><%= u.id -%></td> 
	<td><%= link_to u.first_name + " " + u.last_name, member_path(u.member) if u.first_name && u.last_name -%></td>
	<td><%= u.email -%></td>
	<td><%= u.member.admission -%></td>
	<td><%= u.member.department.name if u.member -%></td>
	<td><%= u.member.program.name if u.member -%></td>
	<td>
	 <div class="edit-holder alr">
	      <ul class="edit-box">
	        <li>
	          <%= link_to "Edit", new_member_path , :class => "edit-but" -%>
	          <ul class="edit-sub">
		          <li> <%= link_to "Edit",new_member_path(:user => "student") -%></li>
		          <li> <%= link_to "Delete", new_member_path(:user => "student") , :method => :delete -%></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </td>
      </tr>
      <% end %>
	
</table> 
    
</li>	  
  </ul>
</div>
