<div id="content_left" class="all">
    <div class="content-header clearfix">
      <h2 class="all">Our Student</h2>
      <%= link_to "+ Add Student", new_member_path(:user => "student"), :class => "alr button" -%>
    </div>
</div>

<ul id="departments">
  <li class="clearfix">
    <table>
      <tr>
	<th>
	</th>

	<th>
	  ID
	</th>
	<th>
	  Name
	</th>
	<th>
	  Email
	</th>
	<th>
	  Admission-date
	</th>
	<th>
	  Department
	</th>
	<th>
	  Program
	</th>

	<th>
	</th>
      </tr>

      <% @users.each do |u| %>
      <tr>
	<td></td>
	<td><%= u.id -%></td> 
	<td><%= link_to u.first_name + " " + u.last_name, member_path(u.member) if u.first_name && u.last_name -%></td>
	<td><%= u.email -%></td>
	<td><%= u.member.admission -%></td>
	<td><%= u.member.department.name if u.member -%></td>
	<td><%= u.member.program.name if u.member -%></td>
      </tr>
      <% end %>
	
</table> 
    
</li>	  
  </ul>
</div>
