<div>
  <h2 class="content-header">Add Students</h2>
</div>
<%= form_for :user, :url => members_path(:student => true),:html => { :multipart => true }, :method => :post do |f| %>
  <h4 class="form-info-header">User Info</h4>
  <%= f.hidden_field :user_type, :value => User::STUDENT %>
  <label>Title*</label>
  <%= f.select :title, "<option value='Mr.'>Mr.</option><option value='Mrs.'>Mrs.</option><option value='Miss'>Miss</option>" -%><br />
  <label for="member_first_name" >First name*</label>
  <%= f.text_field :first_name -%><br />
  <label for="member_last_name" >Last name*</label>
  <%= f.text_field :last_name -%><br />
  <label for="member_password">Password*</label>
  <%= f.password_field :password -%><br />
  <label for="member_password_confirmation">Password confirmation*</label>
  <%= f.password_field :password_confirmation -%><br />
  <label for="member_email">Email*</label>
  <%= f.text_field :email -%><br />


  <%= fields_for :profile do |p| %>
  <label for="member_registration_id">Registration ID</label>
  <%= p.text_field :registration_id -%><br />
  <h4  class="form-info-header">Personal Info</h4>
  <%= p.file_field :photo %><br />
  <label for="member_father_name">Father's Name</label>
  <%= p.text_field :father_name -%><br />

  <label for="member_mother_name">Mother's Name</label>
  <%= p.text_field :mother_name -%><br />

  <label>Date Of Birth</label>
  <%= date_select("post", "date_of_birth", :prompt => { :year => 'Select year', :month => 'Select month', :day => 'Select day'  }) -%>
  <br />
  <label>Gender</label>
    <%= p.select "gender", "<option value='Male'>Male</option value='Female'><option>Female</option>"-%><br />
    <label for="member_nationality">Nationality</label>
    <%= p.text_field :nationality -%><br />
    <label for="member_admission">Admission</label>
    <%= date_select("post", "admission", :prompt => { :year => 'Select year', :month => 'Select month', :day => 'Select day'  }) -%>
    <% end %>

    <h4  class="form-info-header">Contact Info</h4>
    <%= fields_for :address do |d| %>
    <label for="member_address">Address</label>
    <%= d.text_field :address -%><br />
    <label for="member_zip_code">Zip code</label>
    <%= d.text_field :zipcode -%><br />

    <label for="member_city">City</label>
    <%= d.text_field :city -%><br />
    <label for="member_state">State</label>
    <%= d.text_field :state -%><br />
    <label for="member_country">Country</label>
    <%= d.text_field :country -%><br />
    <label for="member_phone_resi">Phone</label>
    <%= d.text_field :phone_resi -%><br />
    <label for="member_phone_mob">Phone(mobile)</label>
    <%= d.text_field :phone_mob -%><br />
    <% end %>

    <h4  class="form-info-header">Academic Info</h4>
    <%= fields_for :profile do |p| %>
    <label>Department</label>
    <%= p.select :department_id, Department.all.collect {|p| [p.name, p.id]} -%><br />
    <label>Programme</label>
    <%= p.select :program_id, Program.all.collect {|p| [p.name, p.id]} -%></select><br />
    <% end %>

    <%= fields_for :member_courses do |m| %>
    <label>Course</label>
    <%=m.select :course_id, Course.all.collect {|m| [m.name, m.id]} -%></select><br />
    <% end %>
    <%= f.submit "submit" -%>
<% end %>

